.tableRow,
.tableHead {
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.tableRow:nth-child(odd) {
    background-color: gray;
    border: 1px solid black;
}
.tableBody,
.transactionHistory {
    display: grid;
}
.tableHead {
    background-color: lightblue;
}
