.online {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: green;
}
.offline {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: red;
}
.friendList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.friendItem {
    display: flex;
    justify-content: center;
}
